# dependências
node_modules/

# build do Next.js
.next/
out/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# variáveis de ambiente
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local

# arquivos de sistema
.DS_Store
Thumbs.db

# configurações do editor
.vscode/
.idea/

# arquivos de lock duplicados
package-lock.json
yarn.lock
pnpm-lock.yaml
